<li class="parallax">
    <a href="#">
        <div class="bg-blur" style="background-image:url(<%= image_url "banners/1.jpg" %>);">

        </div>
    </a>
</li>
<li class="parallax">
    <a href="#">
        <div class="bg-blur" style="background-image:url(<%= image_url "banners/2.jpg" %>);">

        </div>
    </a>
</li>
<li class="parallax">
    <a href="#">
        <div class="bg-blur" style="background-image:url(<%= image_url "banners/3.jpg" %>);">

        </div>
    </a>
</li>