<!-- Site Showcase -->
<div class="site-showcase">
    <div class="slider-mask overlay-transparent"></div>
    <!-- Start Hero Slider -->
    <div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">
        <ul class="slides">
            <%= render partial: 'base/slider_item' %>
        </ul>
    </div>
    <!-- End Hero Slider -->
    <%#= render 'base/big_search' %>
</div>
<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <% if Realty.all.count != 0 %>
                    <%= render partial: 'base/latest_block', locals: {deal_name: 'Аренда', block_id: "latest-properties-rent", deal_id: 2, realties: @rent} %>
                    <%= render partial: 'base/latest_block', locals: {deal_name: 'Продажа', block_id: "latest-properties-buy", deal_id: 1, realties: @buy} %>
                <% else %>
                    <%= render partial: 'realties/realties_empty' %>
                <% end %>
            </div>
        </div>
    </div>
</div>