<div class="widget sidebar-widget">
    <h3 class="widgettitle">Search Properties</h3>
    <div class="full-search-form">
        <form action="#">
            <select name="propery type" class="form-control input-lg selectpicker">
                <option selected>Type</option>
                <option>Villa</option>
                <option>Family House</option>
                <option>Single Home</option>
                <option>Cottage</option>
                <option>Apartment</option>
            </select>
            <select name="propery contract type" class="form-control input-lg selectpicker">
                <option selected>Contract</option>
                <option>Rent</option>
                <option>Buy</option>
            </select>
            <select name="propery location" class="form-control input-lg selectpicker">
                <option selected>Location</option>
                <option>New York</option>
            </select>
            <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-search"></i> Search</button>
        </form>
    </div>
</div>