<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Редактировать объявление</h4>
        <%= render partial: 'administrator/realties/form' %>
      </div>
    </div>
  </div>
</div>