<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Список объявлений</h4>
        <table class="table table-bordered table-hover color-table red-table">
          <thead>
          <tr>
            <th>#</th>
            <th>Заголовок</th>
            <th>Тип сделки</th>
            <th>Тип недвижимости</th>
            <th>Цена</th>
            <th>Статус</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @realties.each do |realty| %>
            <%= render partial: 'administrator/realties/realty_row', locals: { realty: realty } %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>