default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: estate_dev
  username: db_user
  password: db_pass

production:
  <<: *default
  database: estate_prod
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: db_user
  password: db_pass
