<%= image_tag "empty_room.jpg", class: 'img-responsive center-block img-rounded' %>
<h1 class="text-center">Вот незадача!</h1>
<h1 class="text-center">К сожалению, здесь пусто :(</h1>
<h1 class="text-center">Но, совсем скоро, здесь появится интересное чтиво :)</h1>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('#q_title_cont, .input-group-btn:last-child > .btn').attr('disabled', 'disabled');
    });
</script>