<div class="widget sidebar-widget">
    <h3 class="widgettitle">Post Tags</h3>
    <div class="tag-cloud">
        <a href="#">Buy</a>
        <a href="#">Sold</a>
        <a href="#">Loans</a>
        <a href="#">Property</a>
        <a href="#">Hold</a>
        <a href="#">Mortgage</a>
        <a href="#">Location</a>
        <a href="#">New York</a>
        <a href="#">Parking</a>
        <a href="#">Maintenance</a>
        <a href="#">Native</a>
        <a href="#">Signup</a>
        <a href="#">Login</a>
        <a href="#">Flat</a>
        <a href="#">Family House</a>
        <a href="#">Villa</a>
    </div>
</div>