.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    .main {
        flex:1;
    }
}

#contact-map {
    height: 200px;
}

.contact-info {
    li {
        font-size: 1.5em;
        line-height: 1.5;
        .fa {
            color: $brand-primary;
            text-align: center;
            width: 20px;
        }
        a {
            text-decoration: none;
        }
    }
}

.site-search-module {
    .form-group {
        margin-bottom: 0;
    }
}

.hero-slider {
    height: $slider-height;
    &.flexslider ul.slides li {
        background-image: asset-url("banner-bg.jpg");
        background-size: contain;
        background-repeat: repeat-x;
        height: $slider-height;
        a {
            display: block;
            height: 100%;
        }
    }
}

.slider-mask {
    height: $slider-height;
}

.form-group {
    margin-bottom: 0;
}

#empty-latest-message {
    margin: 0 auto;
    width: 80%;
    h3 {
        color: #b94a48;
        text-align: center;
        font-weight: 700;
    }
    p {
        font-size: 1.1em;
        line-height: 1.5;
        text-align: justify;
    }
}

