.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    .main {
        flex:1;
    }
}

#contact-map {
    height: 200px;
}

.contact-info {
    li {
        font-size: 1.5em;
        line-height: 1.5;
        .fa {
            color: $brand-primary;
            text-align: center;
            width: 20px;
        }
        a {
            text-decoration: none;
        }
    }
}

.site-search-module {
    .form-group {
        margin-bottom: 0;
    }
}

.hero-slider {
    height: $slider-height;
    &.flexslider ul.slides li {
        height: $slider-height;
        a {
            display: block;
            height: 100%;
        }
    }
}

.slider-mask {
    height: $slider-height;
}

