.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    .main {
        flex:1;
    }
}

#contact-map {
    height: 200px;
}

.contact-info {
    li {
        font-size: 1.5em;
        line-height: 1.5;
        .fa {
            color: $brand-primary;
            text-align: center;
            width: 20px;
        }
        a {
            text-decoration: none;
        }
    }
}

.site-search-module {
    .form-group {
        margin-bottom: 0;
    }
}