<footer class="site-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="copyrights-col-left col-md-6 col-sm-6">
                <%= content_tag(:p, "&copy; #{l(Time.now, format: "%Y")} #{full_title(yield(:base_title))}. #{t('footer.copyright')}".html_safe) %>
            </div>
            <div class="copyrights-col-right col-md-6 col-sm-6">
                <div class="social-icons">
                    <%= link_to (fa_icon "facebook"), 'https://www.facebook.com/estatecomua/', target: '_blank' %>
                </div>
            </div>
        </div>
    </div>
</footer>