<footer class="site-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="copyrights-col-left col-md-6 col-sm-6">
                <p>&copy; 2017 e-States. All Rights Reserved</p>
            </div>
            <div class="copyrights-col-right col-md-6 col-sm-6">
                <div class="social-icons">
                    <%= link_to (fa_icon "facebook"), 'https://www.facebook.com/', target: '_blank' %>
                </div>
            </div>
        </div>
    </div>
</footer>